*{
    font-size:  40px;
}

body{
    background-color: #BABABA;
}
p{
    color: #1F9C97;
}
.style-p{
    color: #1F9C97;
}
/*SELECTOR DE ETIQUETA*/
h1{
    color: #2C6B6A;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*SELECTOR DE CLASE*/
.titulo-2{
    color: #1F9C97;
    text-decoration: underline;
}
/*SELECTOR DE ID*/
#parrafo-unico{
    color: white;
    background-color: black;
}
.test{
    font-family: cursive;
}
.caja-modelo{
    width: 50%;
    background-color: #1F9C97;
    border: 2px solid #0B1212;
    padding: 20px;
    margin: 4px 10px 40px 10px;
    border-radius: 20px;
}


